# Unity specific ignores
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Never commit these
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS ignores
.DS_Store
*.DS_Store?
Thumbs.db
desktop.ini

# Visual Studio / Rider ignores (for .vsconfig / .vs folder)
.vs/
*.vsconfig
*.vs.sln